<container>
  <div class='bg-white'>
    <section class='bg-[#FCF8F1] bg-opacity-30 py-10 sm:py-16 lg:py-24'>
      <div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
        <div class='grid grid-cols-1 items-center gap-12 lg:grid-cols-2'>
          <div>
            <p
              class='text-base font-semibold uppercase tracking-wider text-blue-600'
            >A jobs board</p>
            <h1
              class='mt-4 text-4xl font-bold text-black sm:text-6xl lg:mt-8 xl:text-8xl'
            >Find the right Tech Job for you</h1>
            <p class='mt-4 text-base text-black sm:text-xl lg:mt-8'>Grow your
              career by knowing where to search.</p>

            <a
              href='/jobs'
              title=''
              class='mt-8 inline-flex items-center rounded-full bg-yellow-300 px-6 py-4 font-semibold text-black transition-all duration-200 hover:bg-yellow-400 focus:bg-yellow-400 lg:mt-16'
              role='button'
            >
              View all jobs
              <svg
                class='-mr-2 ml-8 h-6 w-6'
                xmlns='http://www.w3.org/2000/svg'
                fill='none'
                viewBox='0 0 24 24'
                stroke='currentColor'
              >
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='1.5'
                  d='M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z'
                />
              </svg>
            </a>

            <a
              href='/signup'
              title=''
              class='mt-8 inline-flex items-center rounded-full bg-yellow-300 px-6 py-4 font-semibold text-black transition-all duration-200 hover:bg-yellow-400 focus:bg-yellow-400 lg:mt-16'
              role='button'
            >
              Join for free
              <svg
                class='-mr-2 ml-8 h-6 w-6'
                xmlns='http://www.w3.org/2000/svg'
                fill='none'
                viewBox='0 0 24 24'
                stroke='currentColor'
              >
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='1.5'
                  d='M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z'
                />
              </svg>
            </a>

            <p class='mt-5 text-gray-600'>Already joined us?
              <a
                href='/login'
                title=''
                class='text-black transition-all duration-200 hover:underline'
              >Log in</a></p>
          </div>

          <div>
            <img class='w-full' src='./images/softwareEng.svg' alt='' />
          </div>
        </div>
      </div>
    </section>
  </div>

</container>